/*=====================
  Search bar styles
======================*/
.box-container {
  margin: auto;
  margin-top: 20%;
  position: relative;
  width: 300px;
  height: 42px;
  border: 4px solid #2980b9;
  padding: 0px 10px;
  border-radius: 50px;
}

.elements-container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search-input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  color: #424242;
  font-weight: 400;
}

.search-input:focus {
  outline: none;
}

.search-button {
  padding: 0;
  border: none;
  background: none;
}

.search-icon {
  width: 100%;
}
